*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color:whitesmoke;
}
.registration{
    background-color: #fff;
    position: absolute;
    width:340px;
    height: 385px;
    padding: 10px 5px 20px 5px;
    margin-top: 10px;
    margin-left:785px;
    border: 1px solid rgb(222, 221, 221);
    box-shadow: 5px 5px 6px -7px;
}
.input{
    margin-top:1px;
    margin-bottom:5px;
    background-color: #fff;
    margin-left:40px;
    border: 1.5px solid rgb(200,200,200);
    width:250px;
    height:15px;
    padding:10px 4px;
    border-radius: 1px;
    text-align: center;
    color:black;
    font-family:'Arial';
    font-size: 12px;
    text-align: left;
}
#button{
    border: none;
    background-color: #62a4fa;
    color: white;
    margin-left:40px;
    margin-top:8px;
    width:260px;
    height:30px;
    display: block;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:20px;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}
#instagrami{
    margin-left:75px;
    margin-top:30px;
    margin-bottom:30px;
    width:200px;
}
#instai{
    margin-left:370px;
    margin-top:30px;
}
#facebooki{
    width: 15px;
    margin-left: 90px;
    height: 15px;
    margin-top: 10px;
}
#txt1{
    color: #359af8;
    position: absolute;
    cursor: pointer;
}
#txt2{
    cursor: pointer;
    margin-top: 50px;
    margin-left: 120px;
    font-size: 14px;
}
#txt3{
    margin-top:-145px;
    margin-left: 785px;
    border: 1px solid rgb(222, 221, 221);
    box-shadow: 5px 5px 6px -7px;
    width:320px;
    height: 35px;
    padding-top: 15px;
    padding-left:30px;
}   
#txt4{
    margin-left: 880px;
    margin-top: 15px;
    font-weight: 200;
}
#foto1{
    width: 130px;
    position: absolute;
    margin-left: 840px;
    margin-top: 15px;
    cursor: pointer;
}
#foto2{
    width: 110px;
    position: absolute;
    margin-left: 980px;
    margin-top: 15px;
    cursor: pointer;
}
#txt5{
    color:#359af8;
    cursor: pointer;
}
span:hover{
    padding:6px;
    cursor: pointer;
    text-decoration: underline;
}
.block4{
    margin-left: 200px;
    margin-top: 120px;
    font-weight: 100;
    color: rgba(106, 105, 105, 0.895);
    font-family: "Arial";
    font-size: 13px;
}
span:hover{
    padding:8px;
    cursor: pointer;
    text-decoration: underline;
}
#or{
    width: 250px;
    margin-left: 45px;
}
#txt7{
    margin-left: 680px;
    margin-top:30px;
    font-weight: 100;
    color: rgba(106, 105, 105, 0.895);
    font-family: "Arial";
    font-size: 13px;
}
#txt8{
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 100;
    color: rgba(106, 105, 105, 0.895);
    font-family: "Arial";
    font-size: 13px;
}